/* Base Styles */
body {
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
    background: linear-gradient(30deg, #f0bbe3,#88d4fa,#9cddfe);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    border: 2px solid white;
}

.doctor-section {
    margin-top: 10px;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 40vh;
    margin-bottom: 10px;
}

.slide {
    display: none;
    width: 100%;
}

.slide.active {
    display: flex;
    animation: slideDown 1s ease-in-out;
    align-items: center;
    flex-direction: column;
}

/* Bagian title page */
.floatLeft {
    float: left;
    margin-left: 5rem;
    margin-right: 0;
    width: 100px;
    height: 100px;
}

.floatRight {
    float:right;
    margin-right: 5rem;
    margin-left: 0;
    width: 130px;
    height: 100px;
}

.text-center {
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}

#title-text {
    display: inline-block;
    padding: 5px 30px;
    margin-left: 35px;
    border-radius: 70px;
    color: #fff;
    margin-top: 10px;
    background: linear-gradient(rgb(0, 124, 248), rgb(0, 93, 185));
    font-size: 28px;
}

#date-text {
    margin: 10px auto 0 auto;
    padding: 5px;
    width: fit-content;  
    color: rgb(0, 93, 185); 
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Kartu dokter */
.doctor-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
}

.card {
    background: linear-gradient(rgb(0, 124, 248), rgb(9, 93, 178), rgb(0, 93, 185));
    border: 5px solid #dddddd;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 95%;
    max-width: 500px;
    height: 120px;
    margin: 10px;
    overflow: hidden;
}

.row {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    height: auto;
}

.card-img {
    width: 110px;
    height: 90px;
    overflow: hidden;
    border-radius: 100%;
    border: 2px solid whitesmoke;
    margin-left: 2px;
    margin-top: 5px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.card-title {
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: normal;
    word-wrap: break-word;
    color: #f2ef45;
}

/* Warna Batas Kartu */
.card.on-leave-today {
    border-color: #ffffff;
}

/* Badge */
.badge {
    display: inline-block;
    padding: 5px 0;
    border-radius: 12px;
    font-size: 16px;
    color: #fff;
    margin-top: 5px;
}

.leave-category {
    margin-bottom: 40px;
}

.leave-category h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.no-data {
    text-align: center;
    font-size: 18px;
    color: #555;
}

.indicators {
    text-align: center;
    margin-top: 0;
}

.indicator {
    height: 15px;
    width: 15px;
    margin: 5px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 50%;
}

.indicator.active-indicator {
    background-color: #8f8f8f;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries */

/* orientation: Portrait */
@media (min-width: 601px) and (max-width: 1024px) {
    .card {
        width: 38%; /* Two-column layout */
        margin: 10px 1%;
    }
}